name: CI - File Organizer DevOps

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Run Python script (dry run)
      run: |
        python src/organizer.py || echo "Script executed"

    - name: Build Docker image
      run: |
        docker build -t file-organizer-devops .
